{% load xextends %}
{% load forms %}

{% xextends "sponsorship/admin/base.html" with tertiary_nav="sponsorship_tiers" %}

{% block sponsorship_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text">Edit {{sponsorship_tier}}</h2>
        </header>
            
        <form method="POST" action="{% url "edit_sponsorship_tier" sponsorship_tier.pk %}" class="form">
            {% csrf_token %}
            {{form|render}}
            <button type="submit">Save</button>
            <a class="button warning" href="{% url "sponsorship_tiers" %}">Cancel</a>
        </form>
    </div>
{% endblock %}