{% load xextends %}

{% xextends "sponsorship/admin/base.html" with tertiary_nav="sponsors" %}

{% block sponsorship_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text">Sponsors</h2>
        </header>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sponsored Events</th>
                </tr>
            </thead>
            <tbody>
                {% for sponsor in sponsors %}
                    <tr>
                        <td><a href="{% url "staff_view_sponsor" sponsor.pk %}">{{sponsor.name}}</a></td>
                        <td>{{sponsor.event_sponsors.count}} event{{sponsor.event_sponsors.count|pluralize}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">Sponsors</h2>
        </header>
        <a class="btn" href="{% url "create_sponsor" %}"><i class="fa fa-plus"></i> New Sponsor</a>
    </div>
{% endblock %}