{% load xextends %}

{% xextends "sponsorship/admin/base.html" with tertiary_nav="sponsorship_tiers" %}

{% block sponsorship_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text">Sponsorship Tiers</h2>
        </header>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sponsors</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sponsorship_tier in sponsorship_tiers %}
                    <tr>
                        <td>{{sponsorship_tier.name}}</td>
                        <td>{{sponsorship_tier.community_sponsorships.count}} sponsor{{sponsorship_tier.community_sponsorships.count|pluralize}}</td>
                        <td><a href="{% url "edit_sponsorship_tier" sponsorship_tier.pk %}"><i class="fa fa-pencil" title="Edit"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">Sponsorship Tiers</h2>
        </header>
        <a class="btn" href="{% url "create_sponsorship_tier" %}"><i class="fa fa-plus"></i> New Sponsorship Tier</a>
    </div>
{% endblock %}