{% load xextends %}
{% load forms %}
{% load markdown_deux_tags %}

{% xextends "sponsorship/admin/base.html" with tertiary_nav="sponsors" %}

{% block sponsorship_content %}
    <div class="block block-list__item">
        <header class="block__header valign-together">
            <h2 class="block__header-text">{{sponsor}}</h2>
            <a class="block__header-extra-link" href="{% url "edit_sponsor" sponsor.pk %}"><i class="fa fa-pencil"></i></a>
        </header>

        <blockquote>
            <div style="text-align: center; margin-bottom: 2em;">
                <a href="{{sponsor.url}}"><img style="max-width: 100%;" src="{{sponsor.logo.url}}"></a>
            </div>
            {{sponsor.description|markdown}}
        </blockquote>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">{{sponsor}}</h2>
        </header>
    </div>

    <div class="block block-list__item">
        <header class="block__header">
            <h2 class="block__header-text block__header-text--small">Tiers</h2>
        </header>
        {% if sponsor.community_sponsorships.count > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Tier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sponsorship in sponsor.community_sponsorships.all %}
                        <tr>
                            <td>{{sponsorship.tier}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <a class="btn" href="{% url "add_community_sponsorship_to_sponsor" sponsor.pk %}"><i class="fa fa-plus"></i> Add Tier</a>
    </div>
{% endblock %}